.menu_adm {
    display: flex;
}

.body_adm {
    display: flex;
    justify-content: flex-start;
    justify-content: space-evenly;
    align-items: center;
    margin: 90px;
}

.btn_pendente {
    display: flex;
    justify-content: center;
    margin: 40px;
}

.tamanho_tela_principal h1 {
    display: flex;
    justify-content: center;
    padding-top: 25px;
}

.principal_home_adm h1 {
    display: flex;
    justify-content: center;
    padding: 25px;
}

.principal_home_adm {
    width: 100%;
}