    * {
        margin: 0%;
        padding: 0%;
    }
    
    .texto>h3 {
        display: flex;
        justify-content: center;
        padding: 10px;
    }
    
    .button1 {
        display: flex;
        justify-content: center;
        padding: 25px;
    }
    
    .imggus {
        display: flex;
        justify-content: center;
    }
    
    .voltar {
        display: flex;
        margin: 65px 100px 0px 100px;
    }
    
    .logosenai {
        display: flex;
        justify-content: flex-end;
        padding: 0 70px 10px 0px;
    }
    
    .input1 {
        display: flex;
        flex-direction: column;
    }
    
    .input2 {
        display: flex;
        flex-direction: column;
    }
    
    .inputpai {
        display: flex;
        justify-content: space-evenly;
    }

.opcao_cadastro{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}
.opcao_cadastro > .aluno_candidato{
    display: flex;

    color: #DA251C;
    font-weight: 250px;
}

.opcao_cadastro > .empresa_empresa{
    color: #DA251C;
}