#default {
    display: flex;
    width: 250px;
    border-radius: 7px;
    padding: 10px 30px 10px 30px;
    border: none;
    box-shadow: 0px 4px 4px 4px #4d4d4d21;
    color: #535353;
    white-space: normal;
}